main {
    min-height: calc(100vh - 160px);
  }

  h1 {
    background: linear-gradient(to right, #424cd4, #7baffe); /* Cambia los colores aquí */
    -webkit-background-clip: text;
    color: transparent;
  }
  body {
    background-image: url(https://images.unsplash.com/photo-1518066000714-58c45f1a2c0a?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTZ8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center;
  }

  .card {
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex: 1;
    overflow-y: auto;
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }

 
  